doctype html
html(lang="en")
 include includes/head
 body
  div.container.pull-left   
   h4= name 
   h5="Born: " + birthdate
   h5: a(href="/") Home
   h4="Professional Interests" 
   ul
    each professional,i in professionals
     li= professional
   h4= "Personal Interests"
   ul
    each personal in personals
     li= personal
   each fact,i in facts
    h4=fact.label
    p=fact.content
   